html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #F26419;
  /* background-image: linear-gradient(to bottom, #F26419, #F5A22A ); */
  height: 100%;
  width: 17%;
  box-shadow: 3px 3px 10px grey;
}

.navigation {
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  margin-top: 1.75em;
  box-shadow: 3px 3px 10px purple;
}

h2 {
  align-self: flex-start;
  margin-left: 2vh;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  height: 25vh;
}

button {
  border: none;
  border-radius:  1.5em ;
  height: 1.7em;
}

.search-and-filter {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter{
  margin-top: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background: #F5A22A;
  /* background-image: linear-gradient(to right, #F26419, #F5A22A ); */
  width: 85vw;
  box-shadow: 6px 3px 10px grey;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}