@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #F26419;
  /* background-image: linear-gradient(to bottom, #F26419, #F5A22A ); */
  height: 100%;
  min-width: 217px;
  box-shadow: 3px 3px 10px grey;
  position: fixed;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-icon {
  object-fit: cover;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  margin-top: 1.75em;
  box-shadow: 3px 3px 10px purple;
}

h2 {
  align-self: flex-start;
  margin-left: 2vh;
  font-weight: 500;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  height: 25vh;
}

button {
  border: none;
  border-radius:  1.35em ;
  box-shadow: 2px 2px 5px purple;
  height: 1.9em;
  background-color: #f5f5f5;
  font-family: inherit;
  font-weight: 500;
  box-sizing: border-box;
}

.search-and-filter {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  border-radius: 1em;
  height: 1.9em;
  width: 160px;
  font-family: inherit;
}

.search-button {
  margin-top: .75em;
  padding-left: 1em;
  padding-right: 1em;

}

.filter{
  margin-top: 1em;
}

main {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  margin-left: 217px;
  width: 86%;
}

header {
  display: flex;
  background: #F5A22A;
  /* background-image: linear-gradient(to right, #F26419, #F5A22A ); */
  width: 86%;
  box-shadow: 6px 3px 10px grey;
  position: fixed;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

.all-recipes-display {
  margin-top: 82.88px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  border: none;
  border-radius: 1em;
  background: linear-gradient(to right, #F26419, #F5A22A );
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  min-width: 180px;
  /*height: 292px;*/
  padding: 1em;
  margin: 1em;
  box-shadow: 3px 3px 10px grey;

}

.recipe-img {
  object-fit: cover;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  box-shadow: 3px 3px 10px purple;
  align-self: center;
}

.card-footer {
  /* background: #f5f5f5;
  border-radius: .5em .5em 1em 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

p {
  text-align: center;
  color: #f5f5f5;
  font-weight: bolder;
  font-size: 1.2em;
  max-width: fit-content;
}

.card-buttons {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
}

.card-buttons button {
  margin-left: 10px;
  align-self: flex-end;
}

.recipe-details-display {
  width: 86%;
}

.recipe-details {
  margin: 1em;
  border-radius: 1em;
  margin-top: 100px;
  display: flex;
  background: linear-gradient(to right, #F26419, #F5A22A );
  padding: 1em;
  width: 109%;
}

.recipe-img-full {
  object-fit: cover;
  border-radius: 1em;
  width: 556px;
  height: 370px;
  box-shadow: 3px 3px 10px purple;
}

.recipe-buttons {
  margin-top: 1.2em;
  display: flex;
  justify-content: space-evenly;
}

.recipe-buttons button {
  height: 2.5em;
  width: 10em;
  background: #f5f5f5;
}

.name-ingredients-instructions {
  width: 580px;
  margin-left: 2em;
}

.name-ingredients-instructions p {
  color: black;
}

.name {
  font-size: 1.5em;
  font-weight: bolder;
  text-decoration: underline;
}

.hidden {
  display: none;
}